* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    --icons-size: 4rem;
    --color-blue-300: #387E96;
    --color-blue-700: #065E7C;
    --color-black: #202024;
    --color-white: #FFFFFF;
}

html, body, input {
    font-family: 'mulish', sans-serif;
}

body {
    font-family: 'mulish', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

#app {
    display: grid;
    width: 100vw;
    grid-template-areas: 
    "header"
    "main"
    "aside"
    "footer"
    ;
}

header {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 2.5rem;
    grid-area: header;

    padding: 1.6rem 2.8rem;

    background-color: var(--color-blue-700);
}

header img {
    max-width: var(--icons-size);
    max-height: var(--icons-size);
    border-radius: 50%;
    object-fit: cover;
}

main {
    grid-area: main;
    object-fit: cover;
}

img {
    width: 100vw;
    height: 21rem;
}

.describe {
    padding: 2.2rem 3.1rem;
}

main .describe-btn {
    display: flex;
    gap: 1.2rem;
}

.describe-btn button {
    width: var(--icons-size);
    height: var(--icons-size);
    background-color: transparent;
    border: none;
}

button img {
    width: var(--icons-size);
    height: var(--icons-size);
}

main h1 {
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: 160%;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

.input-wrapper label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.input-wrapper input {
    max-width: 24rem;
    max-height: 4rem;

    background-color: var(--color-blue-300);

    border: none;
    border-radius: .4rem;

    padding: 1.2rem 1.4rem;
}

.input-wrapper input::placeholder {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-white);
}

@media (max-width: 400px) {
    header img:nth-child(3) {
        display: none;
    }
}
