* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    --color-blue-300: #387E96;
    --color-blue-700: #065E7C;
    --color-black: #202024;
    --color-white: #FFFFFF;
}

body {
    font-family: 'mulish', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

#app {
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main aside"
    "main main aside"
    "footer footer footer"
    ;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}
