* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    --color-blue-300: #387E96;
    --color-blue-700: #065E7C;
    --color-black: #202024;
    --color-white: #FFFFFF;
}
